.NavBar {
  position: fixed;
  background-color: #f3f3f3;
  text-align: center;
  background-color: none;
  overflow: hidden;
  bottom: 1;
  width: 100%;
  z-index: 100
}
.webSize{
  padding-left: 8em;
  padding-right: 8em;
}
.Body {
  background:#f3f3f3;
  display: flex;
  background-size: cover;
}

.Button {
  background: none;
  border: none;
  font-size: 1em;
  flex: auto;
  justify-content: center;
  padding: 1.5em;
  text-align: center;
}
.HidePhone {
  display: block;
}
.HideScreen {
  display: none;
}
.LogoPCMain{
  flex: auto;
  padding: autom;
  text-align: center;
  text-align: center;
  overflow: hidden;
  bottom: 0;
  width: 100%;
  height: auto;
}
.ProjectPic{
  flex: auto ;
  padding: auto;
  text-align: left;
  object-fit: cover;
  background-size: cover;
  text-align: center;
  overflow: hidden;
  width:100%;
  max-height: 25em;
  padding-bottom: 0;
  padding-right: 0;
  border-radius:1em;
}
.Tittle{
  text-align: center;
  color: #0097a7;
  font-weight: bold;
  font-size: 4em;
  padding-top: 2%;
}
.Tittle2{
  text-align: left;
  color: #0097a7;
  font-weight: bold;
  font-size: 4em;
}
.SubTittle{
  text-align: center;
  font-weight: bold;
  color: #8b8b8b;
  font-size: 2em;
  padding-bottom: 4em;
}
.LinkStyle{
  text-decoration: none;
  color: black;
  font-weight: bold;
}
.ColLeft {
  width: 23%;
  max-height: 90%;
  float: left;
  height: auto;
  text-align: center;
  background-color: #0097a7;
  z-index: 1010101010;
  border-radius: 1em;
}

.ColRight {
  width: 72%;
  float: left;
  background-color: none;
  z-index: 1010101010;
}
.HalfLeft {
  width: 50%;
  float: left;
  height: auto;
  background-color: none;
  z-index: 1010101010;
}
.SpaceHalf{
  width: 5%;
}
.HalfRight {
  width: 50%;
  float: left;
  background-color: none;
  background-color: none;
  z-index: 1010101010;
}
.Projec{
  position: fixed;
  bottom: 1;
  padding-top: 6em;
  background-color: #f3f3f3;
}
.PosFixR{
  position: fixed;
  right: 2em;
  right: 5%;
}
.PosFixL{
  position: fixed;
  left: 2em;
}
.ScrollBar{
  text-align: left;
  padding-left: 1em;
  height: 85%;
  overflow: auto;
}
.Container {
    display: grid;
    grid-gap: 1em;
    grid-template-columns: repeat(auto-fit, minmax(80%, 1fr));
    grid-template-rows: repeat(2, auto);
    text-align: center;
}
.MoreInfo{
  display: flex;
  align-items: flex-end;
  justify-content: center;
  flex-direction: row-reverse;
}

.ProjectTexPic {
  position: relative;
  text-align: left;
}
.ProjecBar{
  position: fixed;
  bottom: 1;
  padding-top: 5em;
  background-color: #f3f3f3;
  z-index: 1;
}
@media screen and (max-width: 950px) {
  .NavBar {
    text-align: center;
    background-color: #f3f3f3;
    position: fixed;
    overflow:hidden;
    bottom: 0;
    width: 100%;
    z-index: 100
  }
  .Button {
    background: #f3f3f3;
    border: none;
    font-size: 1em;
    flex: auto;
    padding: 0.5em;
    padding-bottom: 2em;
    padding-top: 2em;
    }
    .HidePhone {
      display: none;
    }
    .HideScreen{
      display: block;
    }
    .LogoPCMain{
      flex: auto;
      padding: auto;
      text-align: center;
      background-size: contain;
      text-align: center;
      background-color: none;
      overflow: hidden;
      bottom: 0;
      width: 100%;
    }
    .ProjectPic{
      flex: auto ;
      padding: auto;
      text-align: left;
      object-fit: cover;
      background-size: cover;
      text-align: center;
      overflow: hidden;
      width:100%;
      max-height: 15em;
      padding-bottom: 0;
      padding-right: 0;
      border-radius:1em;
    }
    .Tittle{
      text-align: center;
      color: #0097a7;
      font-weight: bold;
      font-size: 3em;
      padding-left: 0.5em;
      padding-right: 0.5em;
    }
    .Tittle2{
      text-align: left;
      color: #0097a7;
      font-weight: bold;
      font-size: 3em;
      padding-right: 0.5em;
    }
    .SubTittle{
      text-align: center;
      font-weight: bold;
      color:#8b8b8b;
      font-size: 1.5em;
      padding-left: 0.5em;
      padding-right: 0.5em;
      padding-bottom: 4em;
    }
    .ColLeft {
      width: 100%;
      float: left;
      height: auto;
      text-align: center;
      background-color: #0097a7;
      border-radius: 1em;
    }

    .ColRight {
      width: auto;
      float: left;
      background-color: none;
    }
    .HalfLeft {
      width: 100%;
      height: auto;
      float:left;
    }

    .HalfRight {
      width: 100%;
      height: auto;
      float: left;
    }
    .ProjecBar{
      position: fixed;
      bottom: 1;
      padding-top: 1em;
      background-color: #f3f3f3;
      z-index: 1;
    }
    .PosFixR{
      position:inherit;
    }
    .PosFixL{
      position: inherit;
    }
    .ScrollBar{
      text-align: left;
      height: auto;
    }
    .Container {
      display: grid;
      grid-gap: 1em;
      grid-template-columns: repeat(1, 100%);
      grid-template-rows: repeat(1, auto);
      text-align: center;
    }
    .ProjectTexPic {
      position: relative;
      text-align: left;
    }
}
